<!-- $Id: article_info.htm 16780 2009-11-09 09:28:30Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,validator.js,../js/jquery.js"}
<!-- start goods form -->
<div class="tab-div">
  <div id="tabbar-div">
    <p>
      <span class="tab-front" id="general-tab">{$lang.tab_general}</span>
      <span class="tab-back" id="detail-tab">{$lang.tab_content}</span>
      <span class="tab-back" id="wallpaper-tab">壁纸图片</span>
      <span class="tab-back" id="goods-tab">{$lang.tab_goods}</span>
    </p>
  </div>

  <div id="tabbody-div">
    <form  action="article.php" method="post" enctype="multipart/form-data" name="theForm" onsubmit="return validate();">
    <table width="90%" id="general-table">
      <tr>
        <td class="narrow-label">{$lang.title}</td>
        <td><input type="text" name="title" size ="40" maxlength="60" value="{$article.title|escape}" />{$lang.require_field}</td>
      </tr>
      <!-- {if $article.cat_id >= 0} -->
      <tr>
        <td class="narrow-label">{$lang.cat} </td>
        <td>
          <select name="article_cat" onchange="catChanged()">
            <option value="0">{$lang.select_plz}</option>
            {$cat_select}
          </select>
         {$lang.require_field}</td>
      </tr>
      <!-- {else} -->
      <input type="hidden" name="article_cat" value="-1" />
      <!-- {/if} -->
      {if $article.cat_id >= 0}
      <tr>
        <td class="narrow-label">{$lang.article_type}</td>
        <td><input type="radio" name="article_type" value="0" {if $article.article_type eq 0}checked{/if}>{$lang.common}
      <input type="radio" name="article_type" value="1" {if $article.article_type eq 1}checked{/if}>{$lang.top}
        {$lang.require_field}        </td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.is_open}</td>
        <td>
        <input type="radio" name="is_open" value="1" {if $article.is_open eq 1}checked{/if}> {$lang.isopen}
      <input type="radio" name="is_open" value="0" {if $article.is_open eq 0}checked{/if}> {$lang.isclose}{$lang.require_field}        </td>
      </tr>
      {else}
      <tr style="display:none">
      <td colspan="2"><input type="hidden" name="article_type" value="0" /><input type="hidden" name="is_open" value="1" /></td>
      </tr>
      {/if}

	  <!--代码增加 start By thunje#URLdf-->
		  <tr>
            <td class="label"><font color=#ff3300>自定义URL</font></td>
            <td><input type="text" name="define_url" value="{$article.define_url}" size="30"  /><span id="define_url_notice"></span></td>
          </tr>
		  <!--代码增加 end By thunje#URLdf-->

        <!--代码增加 start By thunje-->
        <tr>
            <td class="label"><font>自定义模版</font></td>
            <td><input type="text" name="define_theme" value="{$article.define_theme}" /><span
                    id="define_theme_notice"></span><br/><span class="notice-span">自定义模版格式如:default.dwt,且模版目录必须有同名文件!</span></td>
        </tr>
        <!--代码增加 end By thunje-->
		<tr>
        <td class="narrow-label">{$lang.author}</td>
        <td><input type="text" name="author" maxlength="60" value="{$article.author|escape}" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.email}</td>
        <td><input type="text" name="author_email" maxlength="60" value="{$article.author_email|escape}" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.keywords}</td>
        <td><input type="text" name="keywords" maxlength="60" value="{$article.keywords|escape}" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.lable_description}</td>
        <td><textarea name="description" id="description" cols="40" rows="5">{$article.description|escape}</textarea></td>
      </tr>

      <tr>
        <td class="narrow-label">视频地址</td>
        <td><input name="vedio_link" id="vedio_link" value="{$article.vedio_link|escape}"></td>
      </tr>

      <tr>
        <td class="narrow-label">{$lang.external_links}</td>
        <td><input name="link_url" type="text" id="link_url" value="{if $article.link neq ''}{$article.link|escape}{else}http://{/if}" maxlength="60" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.upload_file}</td>
        <td><input type="file" name="file">
          <span class="narrow-label">{$lang.file_url}
          <input name="file_url" type="text" value="{$article.file_url|escape}" size="30" maxlength="255" />
          </span></td>
      </tr>
      <!-- 文章缩略图 start by boxcore -->

      <tr>
        <td class="label">上传文章图片</td>
        <td>
          <input type="file" name="article_img" size="35" />
          {if $article.article_img}
            <a href="article.php?act=show_image&img_url={$article.article_img}" target="_blank"><img src="images/yes.gif" border="0" /></a>
          {else}
            <img src="images/no.gif" />
          {/if}
          <br /><input type="text" size="40" value="{$lang.lab_picture_url}" style="color:#aaa;" onfocus="if (this.value == '{$lang.lab_picture_url}'){this.value='http://';this.style.color='#000';}" name="article_img_url"/>
        </td>
      </tr>
      <tr id="auto_thumb_1">
        <td class="label"> 上传文章缩略图</td>
        <td id="auto_thumb_3">
          <input type="file" name="article_thumb" size="35" />
          {if $article.article_thumb}
            <a href="article.php?act=show_image&img_url={$article.article_thumb}" target="_blank"><img src="images/yes.gif" border="0" /></a>
          {else}
            <img src="images/no.gif" />
          {/if}
          <br /><input type="text" size="40" value="{$lang.lab_thumb_url}" style="color:#aaa;" onfocus="if (this.value == '{$lang.lab_thumb_url}'){this.value='http://';this.style.color='#000';}" name="article_thumb_url"/>
          {if $gd > 0}
          <br /><label for="auto_thumb"><input type="checkbox" id="auto_thumb" name="auto_thumb" checked="true" value="1" onclick="handleAutoThumb(this.checked)" />{$lang.auto_thumb}</label>{/if}
        </td>
      </tr>

      <!-- 文章缩略图 end -->


        <tr>
            <td class="label">文章图标1</td>
            <td>
                <input type="file" name="article_icon_1" size="35" />
                {if $article.article_icon_1}
                <a href="article.php?act=show_image&img_url={$article.article_icon_1}" target="_blank"><img src="images/yes.gif" border="0" /></a>
                <input name="old_article_icon_1" type="hidden" value="{$article.article_icon_1}"/>
                {else}
                <img src="images/no.gif" />
                {/if}
            </td>
        </tr>

        <tr>
            <td class="label">文章图标2</td>
            <td>
                <input type="file" name="article_icon_2" size="35" />
                {if $article.article_icon_2}
                <a href="article.php?act=show_image&img_url={$article.article_icon_2}" target="_blank"><img src="images/yes.gif" border="0" /></a>
                <input name="old_article_icon_2" type="hidden" value="{$article.article_icon_2}"/>
                {else}
                <img src="images/no.gif" />
                {/if}
            </td>
        </tr>



    </table>


    <!-- 文章壁纸图片 -->
    <table width="90%" id="wallpaper-table" style="display:none" align="center">
          <!-- 图片列表 -->
          <tr>
            <td>
              {foreach from=$img_list item=img key=i}
              <div id="wallpaper_{$img.img_id}" style="float:left; text-align:center; border: 1px solid #DADADA; margin: 4px; padding:2px;">
                <a href="javascript:;" onclick="if (confirm('是否删除该图片')) dropImg('{$img.img_id}')">[-]</a><br />
                <a href="goods.php?act=show_image&img_url={$img.img_url}" target="_blank">
                <img src="../{if $img.thumb_url}{$img.thumb_url}{else}{$img.img_url}{/if}" {if $thumb_width neq 0}width="{$thumb_width}"{/if} {if $thumb_height neq 0}height="{$thumb_height}"{/if} border="0" />
                </a><br />
                <input type="text" value="{$img.img_desc|escape}" size="15" name="old_img_desc[{$img.img_id}]" />
              </div>
              {/foreach}
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <!-- 上传图片 -->
          <tr>
            <td>
              <a href="javascript:;" onclick="addImg(this)">[+]</a>
              {$lang.img_desc} <input type="text" name="img_desc[]" size="20" />
              {$lang.img_url} <input type="file" name="img_url[]" />
              <input type="text" size="40" value="{$lang.img_file}" style="color:#aaa;" onfocus="if (this.value == '{$lang.img_file}'){this.value='http://';this.style.color='#000';}" name="img_file[]"/>
            </td>
          </tr>
    </table>


    <table width="90%" id="detail-table" style="display:none">
     <tr><td>{$KindEditor}</td></tr>
    </table>

    <table width="90%" id="goods-table" style="display:none">
      <!-- 商品搜索 -->
      <tr>
      <td colspan="5">
        <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
        <!-- 分类 -->
        <select name="cat_id"><option value="0">{$lang.all_category}</caption>{$goods_cat_list}</select>
        <!-- 品牌 -->
        <select name="brand_id"><option value="0">{$lang.all_brand}</caption>{html_options options=$brand_list}</select>
        <!-- 关键字 -->
        <input type="text" name="keyword" size="30" />
        <input type="button" value="{$lang.button_search}" onclick="searchGoods()" class="button" />
      <td>
      </tr>
      <!-- 商品列表 -->
      <tr>
        <th>{$lang.all_goods}</th>
        <th>{$lang.handler}</th>
        <th>{$lang.send_bouns_goods}</th>
      </tr>
      <tr>
        <td width="45%" align="center">
          <select name="source_select" size="20" style="width:90%" ondblclick="sz.addItem(false, 'add_link_goods', articleId)" multiple="true">
          </select>
        </td>
        <td align="center">
          <p><input type="button" value="&gt;&gt;" onclick="sz.addItem(true, 'add_link_goods', articleId)" class="button" /></p>
          <p><input type="button" value="&gt;" onclick="sz.addItem(false, 'add_link_goods', articleId)" class="button" /></p>
          <p><input type="button" value="&lt;" onclick="sz.dropItem(false, 'drop_link_goods', articleId)" class="button" /></p>
          <p><input type="button" value="&lt;&lt;" onclick="sz.dropItem(true, 'drop_link_goods', articleId)" class="button" /></p>
        </td>
        <td width="45%" align="center">
          <select name="target_select" multiple="true" size="20" style="width:90%" ondblclick="sz.dropItem(false, 'drop_link_goods', articleId)">
            {foreach from=$goods_list item=goods}
            <option value="{$goods.goods_id}">{$goods.goods_name}</option>
            {/foreach}
          </select>
        </td>
      </tr>
    </table>
    <div class="button-div">
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="old_title" value="{$article.title}"/>
      <input type="hidden" name="id" value="{$article.article_id}" />
      <input type="submit" value="{$lang.button_submit}" class="button"  />
      <input type="reset" value="{$lang.button_reset}" class="button" />
    </div>
    </form>
  </div>

</div>
<!-- end goods form -->
<script language="JavaScript">

var articleId = {$article.article_id|default:0};
var elements  = document.forms['theForm'].elements;
var sz        = new SelectZone(1, elements['source_select'], elements['target_select'], '');

{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  if (document.forms['theForm'].elements['auto_thumb'])
  {
      handleAutoThumb(document.forms['theForm'].elements['auto_thumb'].checked);
  }

}

function validate()
{
  var validator = new Validator('theForm');
  validator.required('title', no_title);
{/literal}
{if $article.cat_id >= 0}
  validator.isNullOption('article_cat',no_cat);
{/if}
{literal}

  return validator.passed();
}

document.getElementById("tabbar-div").onmouseover = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-back")
    {
        obj.className = "tab-hover";
    }
}

document.getElementById("tabbar-div").onmouseout = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-hover")
    {
        obj.className = "tab-back";
    }
}

document.getElementById("tabbar-div").onclick = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-front")
    {
        return;
    }
    else
    {
        objTable = obj.id.substring(0, obj.id.lastIndexOf("-")) + "-table";

        var tables = document.getElementsByTagName("table");
        var spans  = document.getElementsByTagName("span");

        for (i = 0; i < tables.length; i++)
        {
            if (tables[i].id == objTable)
            {
                tables[i].style.display = (Browser.isIE) ? "block" : "table";
            }
            else
            {
                tables[i].style.display = "none";
            }
        }
        for (i = 0; spans.length; i++)
        {
            if (spans[i].className == "tab-front")
            {
                spans[i].className = "tab-back";
                obj.className = "tab-front";
                break;
            }
        }
    }
}

function showNotice(objId)
{
    var obj = document.getElementById(objId);

    if (obj)
    {
        if (obj.style.display != "block")
        {
            obj.style.display = "block";
        }
        else
        {
            obj.style.display = "none";
        }
    }
}

function searchGoods()
{
    var elements  = document.forms['theForm'].elements;
    var filters   = new Object;

    filters.cat_id = elements['cat_id'].value;
    filters.brand_id = elements['brand_id'].value;
    filters.keyword = Utils.trim(elements['keyword'].value);

    sz.loadOptions('get_goods_list', filters);
}
{/literal}

/**
 * 选取上级分类时判断选定的分类是不是底层分类
 */
function catChanged()
{
  var obj = document.forms['theForm'].elements['article_cat'];

  cat_type = obj.options[obj.selectedIndex].getAttribute('cat_type');
  if (cat_type == undefined)
  {
    cat_type = 1;
  }

  if ((obj.selectedIndex > 0) && (cat_type == 2 || cat_type == 4))
  {
    alert(not_allow_add);
    obj.selectedIndex = 0;
    return false;
  }

  return true;
}


/**
 * 图片处理相关函数
 */

  /**
   * 新增一个图片
   */
  function addImg(obj)
  {
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('wallpaper-table');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  }

  /**
   * 删除图片上传
   */
  function removeImg(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('wallpaper-table');

      tbl.deleteRow(row);
  }

  /**
   * 删除图片
   */
  function dropImg(imgId)
  {
    Ajax.call('article.php?is_ajax=1&act=drop_image', "img_id="+imgId, dropImgResponse, "GET", "JSON");
  }

  function dropImgResponse(result)
  {
      if (result.error == 0)
      {
          document.getElementById('wallpaper_' + result.content).style.display = 'none';
      }
  }

  function handleAutoThumb(checked)
  {
      document.forms['theForm'].elements['article_thumb'].disabled = checked;
      document.forms['theForm'].elements['article_thumb_url'].disabled = checked;
  }


</script>
{include file="pagefooter.htm"}