<!-- $Id: vote_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="post" action="" name="listForm">
<!-- start vote list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>调查表名称</th>
    <th>添加时间</th>
    <th>是否开启</th>
    <th>操作</th>
  </tr>
  {foreach from=$list item=list}
  <tr>
    <td class="first-cell">
    <span onclick="javascript:listTable.edit(this, 'edit_vote_sheet_name', {$list.id})">{$list.name|escape:html}</span>
    </td>
    <td align="center"><span>{$list.add_time}</span></td>
    <td align="center"><span>
    <img src="images/{if $list.is_open eq 1}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show', {$list.id})" /></span></td>
    <td align="center">
    <a href="vote.php?act=list&pid={$list.id}" title="查看此调查表包含问题"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>&nbsp;
    <a href="vote_sheet.php?act=edit&id={$list.id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>&nbsp;
    <a href="javascript:;" onclick="listTable.remove({$list.id}, '{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_vote_name}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // 
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
